#translationsWrapper {
  margin: 0 0.6em;
  padding: 0 0.4em 0.4em 0.4em;
  color: #111;
}

.translationsText {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.translations {
  font-size: 0.7em;
}

.translationsIcon {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.translationsSpacer {
  color: #16c0df;
}

.definitionsSpacer {
  color: #fc440f;
}
