#definitionsWrapper {
  margin: 0 0.6em 0.6em 0.6em;
  padding: 0.4em;
  color: #111;
  flex-grow: 1;
}

.definitionsText {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.definitions {
  font-size: 1em;
}

.definitionsIcon {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.definitionsSpacer {
  color: #fc440f;
}
