/* CSS */
html, body {margin: 0; height: 100vh; width: 100vw;}
#root {height: 96vh; width: 96vw; padding: 2vh 2vw; font-size: 0.9vw;}

/* Output */
.output {margin: 1vh 0.5vw; width: 95vw; height: 5vh; background-color: #f5f5f5;}

/* Translation */
.translation {margin: 1vh 0.5vw; width: 95vw; height: 5vh; background-color: #f5f5f5;}

/* Search */
.search {margin: 1vh 0.5vw; width: 95vw; height: 5vh; background-color: #f5f5f5;}

/* Languages */
.languages {margin: 1vh 0.5vw; width: 95vw; height: 5vh; background-color: #f5f5f5;}

/* Keyboard */
.bs {font-size: 2vh;}
.bs-icon {height: 7vh; padding-bottom: 1vh;}
.character-definitions {margin: 1vh 0.5vw; text-align: center;}
.keyboard {display: flex; align-items: flex-start; flex-direction: row; justify-content: center;}

.character-keyboard {background-color: #ffccff}


.character-keyboard {flex-wrap: wrap; justify-content: left; width: 100%}
.special-keyboard {flex-direction: column;}


.character-key, .special-key {align-items: center; flex-direction: column; width: calc(86vw / 13.5); margin: 0.75vh 0.5vw; background: #f5f5f5;}



.character-key, .special-key {-webkit-border-radius: 0.25vw 0.25vw 0 0; -moz-border-radius: 0.25vw 0.25vw 0 0; border-radius: 0.25vw 0.25vw 0 0;}
.character-key-inner, .special-key-inner {cursor: pointer; width: 100%; height: 100%;}
.character-key-pos-colour {height: 0.75vh; width: 100%; border-bottom: 0.5vh solid #f5f5f5;}
.RED {background-color: #f9c7b0;}
.GREEN {background-color: #dce8ba;}
.BLUE {background-color: #d6ecf7;}
.YELLOW {background-color: #fee885;}
.GRAY {background-color: #cccccc;}
.WHITE {background-color: #ffffff;}
.BLACK {background-color: #000000;}
.no-colour {background-color: #f5f5f5;}
.navigate-up {background-color: #cccccc;}
